@font-face {
    font-family: mainFont;
    src:url(./assets/Aboreto-Regular.ttf);
}
@font-face {
    font-family: homeFont;
    src: url(./assets/Roboto-Light.ttf);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
    color: black;
  }

body {
    font-family: mainFont;
      /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

a {
    text-decoration: none;
}
/* navbar styling------------- */
.nav-custom {
    background: #f9f5ee;
    color: #00120B;
    height: 70px;
}

.name-title{
    font-weight: bold;
}

.navTabs {
    display: flex;
    justify-content: end;
}

/* home page stying--------- */
.home-container{
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background: #f9f5ee;
    
}

.home-text{
    position:fixed;
    bottom: 60%;
    left: 0;
    width:100%;    
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #faf9f4; 
    font-family: homeFont;
    opacity: 90%;
}

.home-hero-image{
    
    height:auto;
    width: 100%;
    object-fit: cover;
}

/* About me styling---------- */
.bio{
    align-items: center;
    margin-top: 10%;
}
.me-image{
    width: auto;
    height: 300px;
    object-fit:cover;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
    margin-left:5%;
    margin-top: -2%;
}
.bio-text{
    
    position: relative;
    text-align: center;
    margin-right: 5%;
    font-family: homeFont;
    font-size: large;
}

/* projects styling------------ */
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:10%;
}
.project-image{
    width: 300px;
    height: 250px;
    object-fit: cover;
    opacity: 50%;
    padding: 5px;
    
}
.project-image:hover{
    opacity: 100%;
    width: 500px;
    height:auto;
}

/* contact page styling--------- */
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:10%;
    /* color: #faf9f4;  */
    font-family: homeFont;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}
.contact p{
    margin-right: 10px;
    margin-left: 10px;
}
.contact a{
    color: inherit;
    text-decoration: none;
}
.contact-container a{
    color: inherit;
    text-decoration: none;
}